  //
// menu.scss
//


// TOPBAR

.topbar{
    background-color: $dark;
}

.phone-topbar{
    padding: 11px 0;
    .topbar-link{
       a{
        color: rgba($white, 0.7);
        font-size: 14px;
       }
    }
    
}

.topbar-social {
    i{
        color: rgba($white, 0.7);
    }
}
.mobile-none{
    display: inline-block;
}
.mobile-block{
    display: none !important;
}




.navbar-custom {
    padding: 0px;
    width: 100%;
    border-radius: 0px;
    z-index: 999;
    margin-bottom: 0px;
    transition: all 0.5s ease-in-out;
    top: 40px;

    .navbar-nav {
        li {
            a {
                line-height: 26px;
                color: $muted;
                font-size: 15px;
                text-transform: capitalize;
                transition: all 0.5s;
                background-color: transparent !important;
                padding: 25px 0;
                margin: 0 10px;
                font-weight: 600;
            }
            .dropdown-menu{
                box-shadow: 0 0 3px rgba(60, 72, 88, 0.15);
                border: none;
                .dropdown-item{
                    padding: 6px 18px;
                    color: $muted !important;
                    margin: 0;

                    &:hover {
                        color: $primary !important;
                    }
                }
                &:after{
                    content: "";
                    position: absolute;
                    top: -6px;
                    left: 45px;
                    box-sizing: border-box;
                    border: 7px solid #495057;
                    border-color: transparent transparent $white $white;
                    transform: rotate(135deg);
                    -webkit-box-shadow: -2px 2px 2px -1px rgba(60, 72, 88, 0.15);
                    box-shadow: -2px 2px 2px -1px rgba(60, 72, 88, 0.15);
                    @media (max-width: 991.98px) {
                        display: none;
                    }
                }
            }

        }
    }
}


.navbar-toggler {
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 0px;
    color: $dark;
}

.navbar-custom .navbar-nav li a.active,
.navbar-custom .navbar-nav li a:hover,
.navbar-custom .navbar-nav li a:active {
    color: $primary !important;
}

.navbar-toggle {
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 0px;
    color: $white;
}

.logo {
    .logo-light {
        display: inline-block;
    }
    .logo-dark {
        display: none;
    }
}

.nav-sticky {
    .logo {
        .logo-dark {
            display: inline-block;
        }
        .logo-light {
            display: none;
        }
    }

    .btn-soft-light {
        background-color: rgba($primary, 0.25) !important;
        color: $primary !important;
    }
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background-color: transparent;
    border-color: #337ab7;
}

.navbar-custom {
    .navbar-toggles {
        padding: .25rem .75rem;
        font-size: 18px;
        background: 0 0;
        border: 1px solid transparent;
        color: $white;
        outline: 0;
    }

    .navbar-toggles-icon {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
    }
}

.menu-toggle {
    padding: 4.5px 10px !important;
}

.menu-toggle {
    span {
        line-height: 27px;
    }
}

.navbar-button{
    margin-left: 10px;
}
/*---NAVBAR LIGHT--*/

.navbar-light {
    .navbar-nav {
        li {
            a {
                color: rgba($white, 0.7) !important
            }
        }
        li a.active,
        li a:hover,
        li a:active {
            color: $white !important;
        }
    }
   .navbar-toggler{
       border: none;
   }
}

/*---NAVBAR STICKY--*/

.nav-sticky{
    &.navbar-custom {
        margin-top: 0px;
        padding: 0;
        background-color: $white;
        box-shadow: 0 -2px 10px rgba(67, 83, 255, 0.14);

        &.sticky-dark {
            background-color: $white;
            top: 0;
        }
    }
    .logo {
        color: $dark !important;
    }

    .navbar-nav {
        li {
            a {
                color: $dark !important;
            }
        }
    }
    .btn-custom-light{
        background: rgba(($primary), 0.1) !important;
        border-color:rgba(($primary), 0.01) !important;
        color: $primary;
        &:hover, &:focus, &:active,
        &.active, &.focus, &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled):active:focus,
        .open > .dropdown-toggle.btn-primary {
            background: rgba(($primary), 0.1) !important;
            border-color:rgba(($primary), 0.01) !important;
            color: $primary;
        }
    
    }
}


.nav-sticky.navbar-custom .navbar-nav li a.active,
.nav-sticky.navbar-custom .navbar-nav li a:hover,
.nav-sticky.navbar-custom .navbar-nav li a:active {
    color: $primary !important;
}

.nav-sticky.navbar-custom .navbar-toggles {
    padding: .25rem .75rem;
    border: 1px solid transparent;
    outline: 0;
}

.nav-sticky .navbar-nav {
    margin-top: 0px;
}
