//
// screenshot.scss
//



.nav-pills {
  margin-bottom: 15px;

  .nav-link {
      color: $muted;
      transition: all 0.5s ease;
     .services-title{
       color: $dark;
       i{
        font-size: 34px;
      }
     }

      &:hover {
          background: rgba($primary, 0.06);
      }
       &.active {
         .services-title {
           color: $white;
         }
        background: $primary;
        color: rgba($white, 0.5) !important;
    }  
  }
}



